{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}

<div class="container">
    <div class="row d-flex pt-5 justify-content-center">
        {% if pic%}
        <div class="card ">
            <img src=" " width="400px" height="300px;" alt="" class="img-responsive">
            <h3 class="profile-user-name" style="font-family: 'Charm', cursive;">{{user.username}}</h3>
            <a href="{% url 'update' %}"><button class="btn btn-outline-primary">Edit Profile</button></a>
        </div>
        {% else %}
        <div class="col-md-3"></div>
        <div class="col-md-2">

            <img src="../media/images/instagram.jpeg" alt="">
        </div>
        <div class="col-md-4">
            <h2>{{user.user.username}}</h2>
            <div class="d-inline">
                <p>Followers:</p>
                <p>Following:</p>
                <p>Posts:</p>
            </div>
            <div class="d-inline">
                <a href="{% url 'update' %}"><button class="btn btn-outline-primary btn-sm">Edit Profile</button></a>
                <a href="{% url 'upload' %}"><button class="btn btn-outline-primary btn-sm">Post Images</button></a>
            </div>

        </div>
        <div class="col-md-3"></div>
        {% endif %}
    </div>
</div>
{% endblock %}