{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-light"></div>
        <div class="col-md-4 pt-5" style="background-image:url('../../static/images/ducks.jpeg');background-size: cover;background-repeat: unset">
            <h3 class="text-center text-white">Sign Up</h3>
            {% if form.errors %}
            <p> Ensure you entered the right info </p>
            {% endif %}
            <div class="card-body text-white">
                <form  action="/accounts/register/?next=/main/users/" method="post" >
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group form-inline">
                        <p><input type="submit" class="btn btn-primary btn-sm" value="Sign Up"></p>
                        <p class="pl-3"> <a class="btn btn-primary btn-sm" href="/accounts/login/">Sign In</a></p>
                    </div>
                    <input type="hidden" name="next" value="/">
                </form>
            </div>                  
        </div>
    </div>
</div>
<!-- empty div -->
<div class="col-md-4 bg-light"></div>
</div>
{% endblock %}